canvas {
    display: block;
    cursor: pointer;
    height: 100%;

}
#canvas-wrap{position: relative}
#overlay{
    width: 50vw;
    position: absolute;
    left: 12px;
    top:10px;
    margin-left: 25vw;
}

body{

    background-color:transparent;
}
