<!--<canvas id="c"></canvas>
<script>
    var c = document.getElementById("c");
    var ctx = c.getContext("2d");
    var cH;
    var cW;
    var bgColor = "#FF6138";
    var animations = [];
    var circles = [];

    var colorPicker = (function() {
        var colors = ["#FF6138", "#FFBE53", "#2980B9", "#282741"];
        var index = 0;
        function next() {
            index = index++ < colors.length-1 ? index : 0;
            return colors[index];
        }
        function current() {
            return colors[index]
        }
        return {
            next: next,
            current: current
        }
    })();

    function removeAnimation(animation) {
        var index = animations.indexOf(animation);
        if (index > -1) animations.splice(index, 1);
    }

    function calcPageFillRadius(x, y) {
        var l = Math.max(x - 0, cW - x);
        var h = Math.max(y - 0, cH - y);
        return Math.sqrt(Math.pow(l, 2) + Math.pow(h, 2));
    }

    function addClickListeners() {
        document.addEventListener("touchstart", handleEvent);
        document.addEventListener("mousedown", handleEvent);
    };

    function handleEvent(e) {
        if (e.touches) {
            e.preventDefault();
            e = e.touches[0];
        }
        var currentColor = colorPicker.current();
        var nextColor = colorPicker.next();
        var targetR = calcPageFillRadius(e.pageX, e.pageY);
        var rippleSize = Math.min(200, (cW * .4));
        var minCoverDuration = 750;

        var pageFill = new Circle({
            x: e.pageX,
            y: e.pageY,
            r: 0,
            fill: nextColor
        });
        var fillAnimation = anime({
            targets: pageFill,
            r: targetR,
            duration:  Math.max(targetR / 2 , minCoverDuration ),
            easing: "easeOutQuart",
            complete: function(){
                bgColor = pageFill.fill;
                removeAnimation(fillAnimation);
            }
        });

        var ripple = new Circle({
            x: e.pageX,
            y: e.pageY,
            r: 0,
            fill: currentColor,
            stroke: {
                width: 3,
                color: currentColor
            },
            opacity: 1
        });
        var rippleAnimation = anime({
            targets: ripple,
            r: rippleSize,
            opacity: 0,
            easing: "easeOutExpo",
            duration: 900,
            complete: removeAnimation
        });

        var particles = [];
        for (var i=0; i<32; i++) {
            var particle = new Circle({
                x: e.pageX,
                y: e.pageY,
                fill: currentColor,
                r: anime.random(24, 48)
            })
            particles.push(particle);
        }
        var particlesAnimation = anime({
            targets: particles,
            x: function(particle){
                return particle.x + anime.random(rippleSize, -rippleSize);
            },
            y: function(particle){
                return particle.y + anime.random(rippleSize * 1.15, -rippleSize * 1.15);
            },
            r: 0,
            easing: "easeOutExpo",
            duration: anime.random(1000,1300),
            complete: removeAnimation
        });
        animations.push(fillAnimation, rippleAnimation, particlesAnimation);
    }

    function extend(a, b){
        for(var key in b) {
            if(b.hasOwnProperty(key)) {
                a[key] = b[key];
            }
        }
        return a;
    }

    var Circle = function(opts) {
        extend(this, opts);
    }

    Circle.prototype.draw = function() {
        ctx.globalAlpha = this.opacity || 1;
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.r, 0, 2 * Math.PI, false);
        if (this.stroke) {
            ctx.strokeStyle = this.stroke.color;
            ctx.lineWidth = this.stroke.width;
            ctx.stroke();
        }
        if (this.fill) {
            ctx.fillStyle = this.fill;
            ctx.fill();
        }
        ctx.closePath();
        ctx.globalAlpha = 1;
    }

    var animate = anime({
        duration: Infinity,
        update: function() {
            ctx.fillStyle = bgColor;
            ctx.fillRect(0, 0, cW, cH);
            animations.forEach(function(anim) {
                anim.animatables.forEach(function(animatable) {
                    animatable.target.draw();
                });
            });
        }
    });

    var resizeCanvas = function() {
        cW = window.innerWidth;
        cH = window.innerHeight;
        c.width = cW * devicePixelRatio;
        c.height = cH * devicePixelRatio;
        ctx.scale(devicePixelRatio, devicePixelRatio);
    };

    (function init() {
        resizeCanvas();
        if (window.CP) {
            // CodePen's loop detection was causin' problems
            // and I have no idea why, so...
            window.CP.PenTimer.MAX_TIME_IN_LOOP_WO_EXIT = 6000;
        }
        window.addEventListener("resize", resizeCanvas);
        addClickListeners();
        if (!!window.location.pathname.match(/fullcpgrid/)) {
            startFauxClicking();
        }
        handleInactiveUser();
    })();

    function handleInactiveUser() {
        var inactive = setTimeout(function(){
            fauxClick(cW/2, cH/2);
        }, 2000);

        function clearInactiveTimeout() {
            clearTimeout(inactive);
            document.removeEventListener("mousedown", clearInactiveTimeout);
            document.removeEventListener("touchstart", clearInactiveTimeout);
        }

        document.addEventListener("mousedown", clearInactiveTimeout);
        document.addEventListener("touchstart", clearInactiveTimeout);
    }

    function startFauxClicking() {
        setTimeout(function(){
            fauxClick(anime.random( cW * .2, cW * .8), anime.random(cH * .2, cH * .8));
            startFauxClicking();
        }, anime.random(200, 900));
    }

    function fauxClick(x, y) {
        var fauxClick = new Event("mousedown");
        fauxClick.pageX = x;
        fauxClick.pageY = y;
        document.dispatchEvent(fauxClick);
    }
</script>-->
<!--
<div id="bg">

</div>

<script>
    //by @nodws
    /*
     Using trianglify.js and d3.js library
     Also not possible without Tim Berners Lee creator of the www, Brendan Eich creator of javascript, Michael S. Dell founder of Dell Computer who manufactured my PC, my Mom and Dad who manufactured me and The BigBang creator of the universe.
     Hope these credits are enough  to satisfy my impostor syndrome
     */
    //Click to change bg
    var rn = Math.floor((Math.random() * 150) + 60);
    var rs = Math.floor((Math.random() * 11) + 4);
    var t = new Trianglify({
        x_gradient: Trianglify.colorbrewer.Spectral[rs],
        noiseIntensity: 0,
        cellsize: rn
    });
    var pattern = t.generate(window.innerWidth, window.innerWidth+200);
    var element = document.getElementById('bg');
    element.setAttribute('style', 'background-image: '+pattern.dataUrl);
</script>-->

<!--<div id="sub-container" style="background-color: rgb(0, 168, 150);">
    <canvas id="sub-canvas" width="712" height="774"></canvas>
</div>-->

<style>
    body { background: #222; }
    .box {
        background-color: #61ab20;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        position: relative;
        box-shadow: inset 0 0 3px #000;
        border-radius: 5px;
        border: 1px solid #111;
        overflow: hidden;
    }
    .box b {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #3673cf;
        box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
        position: absolute;
        -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
        -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
        -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
        animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    }

    @-webkit-keyframes moveX {
        from { left: 0; } to { left: 100vw; }
    }
    @-moz-keyframes moveX {
        from { left: 0; } to { left: 100vw; }
    }
    @-o-keyframes moveX {
        from { left: 0; } to { left: 100vw; }
    }
    @keyframes moveX {
        from { left: 0; } to { left: 100vw; }
    }
    @-webkit-keyframes moveY {
        from { top: 0; } to { top: 100vh; }
    }
    @-moz-keyframes moveY {
        from { top: 0; } to { top: 100vh; }
    }
    @-o-keyframes moveY {
        from { top: 0; } to { top: 100vh; }
    }
    @keyframes moveY {
        from { top: 0; } to { top: 100vh; }
    }
</style>

<div class="box" style="z-index: -1"><b></b></div>
