<div class="container" ng-controller="MainController as ctrl" style="height: 1000px; width: 100%; padding: 0 0 0 0;">
	<div id="header">
		<label> logo and nav bar comes here</label>
		<button class="btn btn-info" style="float: right; margin: 1% 10% 0 0 " ng-click="ctrl.stateChange('sample')">Events</button>
		<!--<snap-content  ng-style="ctrl.maxWidth == 0 && {'color': '#f5f5f5', 'margin': '100% 0 0 1%', 'font-size': 'x-large'} || {'color': '#f5f5f5', 'margin': '0% 0 0 15%', 'font-size': 'x-large'}">

			<a ng-click="ctrl.displayNav()" >
				<i ng-hide="ctrl.maxWidth != 0" class="fa fa-bars fa-2x" ></i>
				<i ng-show="ctrl.maxWidth != 0" class="fa fa-times fa-2x" ></i>
			</a>
		</snap-content>-->
	</div>
	<div class="row" style="background: black">
		<!--<div ng-class="{ 'column col-md-2' : ctrl.maxWidth != 0 , '' : ctrl.maxWidth == 0 }">
			&lt;!&ndash;<snap-content  ng-style="ctrl.maxWidth == 0 && {'color': '#f5f5f5', 'margin': '15% 0 0 5%', 'font-size': 'x-large'} || {'color': '#f5f5f5', 'margin': '15% 0 0 10%', 'font-size': 'x-large'}">

				<a ng-click="ctrl.displayNav()" >
					<i ng-hide="ctrl.maxWidth != 0" class="fa fa-bars fa-2x" ></i>
					<i ng-show="ctrl.maxWidth != 0" class="fa fa-times fa-2x" ></i>
				</a>
			</snap-content>&ndash;&gt;
			<snap-drawers >
				<snap-drawer ng-if="ctrl.navOpen" style=" height: 100vh;width: 100%; color: white;  z-index: 20">
					<div style="height: 100px; background: blue; width: 100%"></div>
					<nav ng-if="ctrl.navOpen" style="background: blue; height: 100vh; width: 100%; z-index: 20">
						<ul class="nav-menu">
							<li data-menuanchor="panelBlock1" class="active"><a href="index.html#panelBlock1">Home</a></li>
							<li data-menuanchor="panelBlock2"><a href="index.html#panelBlock2">About Us</a></li>
							<li data-menuanchor="panelBlock3"><a href="index.html#panelBlock3">Services</a></li>
							<li data-menuanchor="panelBlock4"><a href="index.html#panelBlock4">Portfolio</a></li>
							<li data-menuanchor="panelBlock5"><a href="index.html#panelBlock5">Our Team</a></li>
							<li data-menuanchor="panelBlock6"><a href="index.html#panelBlock6">Contact Us</a></li>
							<li><a href="#">Pages</a>
								<ul>
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="portfolio.html">Portfolio</a>
										<ul>
											<li><a href="portfolio-single01.html">Portfolio Single</a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog</a>
										<ul>
											<li><a href="blog-single01.html">Blog Single</a></li>
										</ul>
									</li>
									<li><a href="columns.html">Columns</a></li>
									<li><a href="elements.html">Elements</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</snap-drawer>
			</snap-drawers>
		</div>-->
		<div ng-class="{ 'column col-md-10' : ctrl.maxWidth != 0, 'column col-md-12' : ctrl.maxWidth == 0 }">

			<div id="fullpage">
				<div class="section " id="section0">
					<div class="intro">
						<h1 >Home Page</h1>
						<p style="color: #f5f5f5">Something about abacus</p>
					</div>
				</div>
				<div class="section" id="section1">
					<div style="color: white; font-size: xx-large; padding: 5% 0 0 0">
						Page 2
					</div>
					<br>
					<!--<div class="row">
						<div class="column col-md-4" style="height: 80vh; background: green;"></div>
						<div class="column col-md-4" style="height: 80vh; background: yellow;"></div>
						<div class="column col-md-4" style="height: 80vh; background: darkviolet;"></div>
					</div>-->
					<div class="slide" id="slide1">
						<div class="intro">
							<h1>Slides for any use</h1>
						</div>
					</div>

					<div class="slide" id="slide2">
						<h1>Slide 2</h1>
					</div>

				</div>
				<div class="section" id="section2">
					<div style="color: white; font-size: xx-large; padding: 5% 0 0 0">
						Page 3 - some divs for different uses
					</div>
					<br>
					<div class="row">
						<div class="column col-md-4" style="height: 100vh; background: green;">
							<div class="row" style="height: 50vh; background: bisque"></div>
							<div class="row" style="height: 50vh; background: orange"></div>
						</div>
						<div class="column col-md-4" style="height: 100vh; background: darkgray;"></div>
						<div class="column col-md-4" style="height: 100vh; background: fuchsia;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	#header, #footer{
		position:fixed;
		height: 75px;
		display:block;
		width: 100%;
		background: coral;
		z-index:9;
		/*text-align:center;*/
		color: #f2f2f2;
		padding: 0 0 0 0;
	}


</style>


<script>
	$(document).ready(function () {
		$('#fullpage').fullpage({
			css3: false,
			navigation: true,
			navigationPosition: 'right',
			keyboardScrolling: true,
			controlArrows: true
		});
	});
</script>

