<div ng-controller="SampleController as ctrl" id="mainTab" ng-keydown="ctrl.move($event)" tabindex="1" class="eventsMainDiv">

    <div class="topTransparentDiv"></div>
    <div class="bottomTransparentDiv"></div>

    <div class="verticalBackgroundDiv"></div>
    <div class="horizontalBackgroundDiv"></div>

    <div class="column col-md-1 verticalMainDiv" ng-repeat="event in ctrl.genre"
         style="margin-top: {{ctrl.marginsTop[(ctrl.verticalDivPosition+$index+5) %5]}};">
        <!--ng-style="ctrl.marginTopValue[(ctrl.verticalDivPosition+$index+5) %5] < 6 || ctrl.marginTopValue[(ctrl.verticalDivPosition+$index+5) %5] > 50.6  && {'display': 'none'} || {}"-->
        {{event.name}}{{$index}}
        <!--<div style="height: 12vh; width: 30vw; background-color: teal">
            {{event.name}}{{$index}}
        </div>-->
    </div>
    <div class="row horizontalDivRow" ng-init="ctrl.setFocus()" id="navigation">
        <div class="column col-md-1 horizontalMainDiv" ng-repeat="event in ctrl.horizontalDivEvents"
             ng-if="event.category.id == (ctrl.midDiv+1)%ctrl.genre.length"
             style="margin-left: {{ctrl.margins[(ctrl.divPosition+$index+9) %9]}};"
             ng-style="ctrl.marginValue[(ctrl.divPosition+$index+9) %9] < -16 || ctrl.marginValue[(ctrl.divPosition+$index+9) %9] > 106  && {'display': 'none'} || {}">

            {{event.name}}{{$index}}
            <!--<div style="height: 16vh; width: 8vw; margin-top: 40%; background-color: teal">
                {{event.name}}{{$index}}
            </div>-->
        </div>

        <div class="mainMidDiv" ng-swipe-up="ctrl.change(38)" ng-swipe-down="ctrl.change(40)" ng-swipe-left="ctrl.change(37)" ng-swipe-right="ctrl.change(39)">
            <div class="mainInnerDiv">
                <div class="midContentsDiv">{{ctrl.bigDivEvent}}</div>
                <div class="midDivNavRing">
                    <i class="fa fa-anchor fa-icons" aria-hidden="true"></i><br>
                    <i class="fa fa-anchor fa-icons" aria-hidden="true"></i><br>
                    <i class="fa fa-anchor fa-icons" aria-hidden="true"></i><br>
                    <i class="fa fa-anchor fa-icons" aria-hidden="true"></i><br>
                </div>
                <div class="mainMidBottomDiv">{{ctrl.bigDivEvent}}</div>
            </div>
        </div>
    </div>

</div>